/* GENERAL */

body, html {
    height: 100%;
    width: 100%;
}

/* ------------------ */

/* CHAT */

#chatDiv {
    height: 100%;
}

#chatRow {
    height: 100%;
}

#chatColumn {
    height: 100%;
}

#usersColumn {
    height: 100%;
}

#headerInfo {
    height: 50px;
    display: flex;
  
}

#chatContent {
    height: calc(100% - 240px);
}

#sendArea {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------ */

/* LOGIN */

#loginDiv {
    height: 100%;
}

/* ------------------ */

/* NavBar UserList */
.usernav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #595959;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.usernav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.usernav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .usernav {padding-top: 15px;}
  .usernav a {font-size: 18px;}
}

.col-sm-2{
    padding-left: 30px;
}

/* ------------------ */
