/* JAN POHL 761383, RAVELL HEERDEGEN 761330 */

/* GENERAL */

@font-face { font-family: 'supermario';
    src: url('../assets/SuperMario256.ttf') format('truetype'); }

body, html {
    height: 100%;
    width: 100%;
    background: #263238;
}


/* GENERAL END ------------------ */

#chatDiv {
    height: 100%;
    display: flex;
    flex-flow: column;
}

#headerInfo {
    display: flex;
    flex: 1 1 auto;
    height: 60px;

}

#headerLoggedInAsDiv {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    color: lightgray;
    justify-content: flex-end;
    font-family: supermario, Arial, Helvetica, sans-serif;
}

#loggedInUserName {
    margin-left: 6px;
    margin-right: 3px;
    padding-top: 8px;
}

#headerImg {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

#logoutButtonDiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0;
}

#logoutButton {
    color: #212121;
}

#mainframe {
    display: flex;
    flex-flow: column;
    height: calc(100% - 60px);
}

#chatHeaderDiv {
    height: 90px;
    display: flex;
}

#logoDiv {
    display: flex;
    padding-left: 0;
    color: lightgray;
    margin-top: 12px;
}

#chatLogoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    height: 90px;
}

#roomsTabsWindow {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    padding-left: 0;
    overflow-x: auto;
    border-bottom: 1px solid lightgrey;
}

#roomsTabsWindow button {
    margin-right: 6px;
    min-width: 80px;
    max-width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: lightgray;
    background: #455a64;
}

#chatContentDiv {
    display: flex;
    height: calc(100% - 90px);
}

#usersColumn {
    display: flex;
    overflow: auto;
    padding-left: 0;
}

#usersonlinelist {
    width: 100%;
}

#usersonlinelist button {
    min-width: 90%;
    margin-bottom: 6px;
    min-height: 38px;
}

#chatColumn {
    height: 100%;
}

#chatWindow {
    width: 100%; 
}

#chatWindowDiv {
    height: calc(100% - 90px);
    overflow-y: auto;
}

#chatWindow li {
    max-width: 70%;
    overflow-wrap: break-word;
    margin-bottom: 6px;
}

.ownListItem {
    float: right;
    background: #1b5e20;
}

.otherListItem {
    float: left;
    background: #212121;
}

.headMessageDiv {
    font-size: small;
    font-weight: bold;
}

.footerMessageDiv {
    float: right;
    font-size: x-small;
    color: lightgray;
}

.bodyMessageDiv {
    color: lightgray;
    flex-flow: row;
}

.fileDownloadIcon {
    font-size: 36px;
}

#file_input {
    display: none;
}

.fileIncomeIcon {
    font-size: 36px;
}

.fileRow {
    display: flex;
}

.fileNameSpan {
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 240px;
    min-width: 120px;
    margin-right: 6px;
}

.fileLink {
    width: 100%;
    height: 100%;
    background: #212121;
}


#sendArea {
    height: 60px;
}

#inputFieldDiv {
    display: flex;
    flex-flow: row;
    padding-left: 0;
    padding-right: 0;
}

#messageInputField {
    height: 52px;
    width: 100%;
}

#sendButtonsDiv {
    display: flex;
    flex-flow: row;
    padding-right: 0;
}

#sendButtonsDiv label {
    height: 52px;
}

#sendFormGroup {
    height: 52px;
}

#message {
    height: 52px;
    background: #212121;
    color: lightgray;
}

#messageSendButtonDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 0;
    padding-left: 0;
}

#messageSendButton {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fileSendButtonDiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0;
}

#fileSendButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

#progressbarDiv {
    height: 8px; margin-bottom: 6px;
}

/* LOGIN */

#modalCloseButton {
    color:white;
}

#uploadDiv {
    margin-top: 12px;
}

#loginButtonDiv {
    display: flex; justify-content: flex-start; align-items: center; padding-left: 0;
}

#registerButtonDiv {
    display: flex; justify-content: flex-end; align-items: center; padding-right: 0;
}

.loader {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    border-top: 16px solid royalblue;
    border-right: 16px solid orange;
    border-bottom: 16px solid red;
    border-left: 16px solid green;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loginDiv {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#loginFormGroup {
    margin-bottom: 0px;
}

#logoDiv {
    display: flex;
    justify-content: center;
}

#logoTextDiv {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-flow: column;
}

#logoTextDiv h3 {
    font-family: supermario, Arial, Helvetica, sans-serif;
}

#logoTextDiv span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#inputFormDiv {
    display: flex;
    flex-flow: column;
    width: 45%;
}

#usernameInput {
    background: #212121;
    color: lightgray;
}

#passwordInput {
    margin-top: 12px;
    background: #212121;
    color: lightgray;
}

#loginFailedLabelDiv {
    display: flex;
    align-items: center;
    height: 36px;
}

#registerFailedLabelDiv {
    display: flex;
    align-items: center;
    height: 36px;
}

#actionButtonsDiv {
    display: flex;
    justify-content: flex-start;
}

#loginButton {
    min-width: 125px;
    min-height: 48px;
}

#registerButton {
    margin-left: 12px;
    min-width: 125px;
    min-height: 48px;
}

/* REGISTER START ------------------ */

#registerDialogDiv {
    color: white;
}
.modal-content {
    background-color: #263238;
}

.modal-backdrop {
    background-color:#212121;
 }

.modal-header {
    border-bottom: none;
}
  
.modal-footer {
    border-top: none;
}

#usernameInputDialog{
    background: #212121;
    color: lightgray;
 }

#passwordInputDialog{
    background: #212121;
    color: lightgray;
 }

 #registerProfilePicture{
    margin-top: 12px;
    display: none;
 }

 #fileSendButtonRegisterDiv {
    margin-top: 12px;
    display: flex;
}

#fileSendButtonRegister {
    display: flex;
    align-items: center;
}


/* REGISTER END ------------------ */
